@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-icon {
  @apply text-2xl hover:cursor-pointer;
}

.input-icon {
  @apply absolute left-3 top-1/2 h-5 w-5 -translate-y-1/2 transform text-sm text-lightBrown;
}

h1 {
  @apply text-2xl font-semibold leading-10;
}

.color-block {
  @apply h-9 w-9 cursor-pointer border border-slate-100 duration-150 hover:border-darkBrown;
}

.color-block-selected {
  @apply h-9 w-9 cursor-pointer border-2 border-darkBrown duration-150 hover:border-darkBrown;
}

.font-box {
  @apply flex cursor-pointer items-center border px-4 py-1 duration-150 hover:border-darkBrown;
}

.font-box-selected {
  @apply flex cursor-pointer items-center border-2 border-darkBrown px-4 py-1 duration-150 hover:border-darkBrown;
}

.thumbnail {
  @apply w-20 cursor-pointer;
}
.thumbnail-selected {
  @apply w-20 cursor-pointer border-2 border-darkBrown;
}

/* HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 2.5px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
